
  .nav button{
      background-color: rgba(26, 214, 120, 0.932) ;
      margin-left: 5px;
      border-radius: 5px;
      color: black;
      //box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .nav button:hover {
    background-color:rgb(255, 30, 0);
    //box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    //transition: 0.5;
  }
  